.macro{
    display: inline-block;
    border-style: solid;
    width: 413px;
    height: 574px;
    border-radius: 2%;
}

.macro .barra{
    width: 414px;
    background-color: rgb(53, 53, 53);
}

.macro .barra .botonr{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 9px;
}
.macro .barra .botona{
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 9px;
}
.macro .barra .botonv{
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 9px;
}

.macro .ope {
    margin-top: -102px;
    width: 414px;
    height: 110px;
    background-color: rgb(53, 53, 53);
    font-size: 100px;
    color: white;
    text-align: right;
}


.macro .tabla_nums {
    background-color: rgb(53, 53, 53);
    width: 414px;
    height: 444px;
    margin-top: -2px;
}

.macro .tabla_nums .nums .one_op1 {
    background-color: rgb(70, 70, 70);
    width: 100px;
    height: 85px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 34px;
}



.macro .tabla_nums .nums .one_op {
    background-color: rgb(107, 107, 107);
    width: 100px;
    height: 85px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 34px;
    margin-top: 4px;
}

.macro .tabla_nums .nums .one_op5 {
    background-color: rgb(107, 107, 107);
    width: 204px;
    height: 85px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 34px;
}

.macro .tabla_nums .nums .four_op {
    background-color: rgb(248, 152, 8);
    width: 100px;
    height: 85px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 34px;
}